@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #cbf2ed;
}

.nav-link.active {
  background-color: #dc3545 !important;
}
